@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply font-poppins;
}

.header-clipping {
    @apply relative;
}

.header-clipping .container {
    @apply relative;
    z-index: 3;
}

.header-clipping:before {
    @apply absolute w-full bg-indigo-900 inset-0;
    content: "";
    height: 648px;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}

.item figure.item-image {
    position: relative;
    perspective: 1000px;
}

.item figure.item-image:before {
    content: "";
    @apply absolute inset-0 bg-indigo-800 opacity-0 transition-all duration-200;
}

.item:hover figure.item-image:before {
    @apply opacity-75;
}

.video-wrapper {
    @apply absolute inset-0 z-0;
    width: 100%; /* Adjust this as needed */
    padding-bottom: 56.25%;
}

.video-wrapper iframe {
    @apply absolute top-0 left-0 w-full h-full;
}

.link-wrapped:before {
    @apply cursor-pointer z-10 inset-0 absolute;
    content: "";
}

.meta-price {
    @apply fixed bottom-0;
    transition: all ease-in-out 0.45s;
    box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.05);
}

.meta-price-enter {
    opacity: 0;
    bottom: -100%;
}
.meta-price-enter-active {
    opacity: 1;
    bottom: 0;
}
.meta-price-exit {
    opacity: 1;
    bottom: 0;
}
.meta-price-exit-active {
    opacity: 0;
    bottom: -100%;
}
.meta-price-enter-done {
    @apply bottom-0 opacity-100 fixed;
}