@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply font-poppins;
}

.header-clipping {
    @apply relative;
}

.header-clipping .container {
    @apply relative;
    z-index: 3;
}

.header-clipping:before {
    @apply absolute w-full bg-indigo-900 inset-0;
    content: "";
    height: 648px;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}

.item figure.item-image {
    position: relative;
    perspective: 1000px;
}

.item figure.item-image:before {
    content: "";
    @apply absolute inset-0 bg-indigo-800 opacity-0 transition-all duration-200;
}

.item:hover figure.item-image:before {
    @apply opacity-75;
}